<div class="title-container">
    <img class="title" src="../assets/images/hanging-title.svg" alt="title">
</div>
<div class="counter-container">
    <span class="counter">{{ count }}</span>
</div>
<div class="video-container">
    <video autoplay muted loop>
        <source src="../assets/videos/farm-night.mp4" type="video/mp4" />
    </video>
</div>
<div class="sheep-container">
    <img class="sheep" src="../assets/images/sheep.svg" alt="sheep">
</div>
<div class="fence-container">
    <img class="fence" src="../assets/images/wooden-fence.png" alt="wooden fence">
</div>